{% extends 'accounts/main.html' %}

{% block content %}
    <br>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <form action="{% url 'delete_order' order.id %}" method="POST">
                {% csrf_token %}
                <h4>Are you sure you want to delete {{ order}} ?</h4>
                <a href="{% url 'home' %}" class="btn btn-md btn-warning">Cancel</a>
                <input type="submit" class="btn btn-md btn-danger" value="Delete">
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
