{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static '/css/main.css' %}" />
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="container "><br><br>
            <form action="" method="post">
                <h3 class="md-3">LOGIN</h3>
                {% for message in messages %}
                    <div class="alert alert-{{message.level_tag}}" role="alert">
                    <h4 class="alert-heading">
                        {{ message.message }}
                    </h4>
                    </div>
                {% endfor %}
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" name="username" id="" aria-describedby="helpId" placeholder="Enter Username">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" name="password" id="" aria-describedby="helpId" placeholder="Enter Password">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
        <h5 class="text-center">Don't have an account yet? <a href="{% url 'register' %}">Register</a></h4>
        
        <script src="{% static '/js/bootstrap.min.js' %}" async defer></script>
        <script src="{% static '/js/jquery.min.js' %}" async defer></script>
    </body>
</html>
